:root{
  /*ORIGINAL*/
  --clr-bcg:#161622;
  --clr-bcg:#EFF0F2;
  --clr-primary:#FBC390;
  --clr-primary:#FBC390;
  --clr-secondary:#E7D6CF;
  --clr-secondary:#E7D6CF;
  --clr-tertiary:#c5f1fe;
  --clr-tertiary:#c5f1fe;
  /*COPY*/
  --clr-tertiary:#c5f1fe;
  --clr-tertiary:#c5f1fe;
  
  --color1:#cccccc;
  --loading-color: rgb(150, 0, 130);
}
.dark-theme {
  --clr-bcg:#161622;
  --clr-font-1: #ffffff;
  --clr-font-2: #e2e2e2;
  --clr-font-3: #c6c6c6;
  --clr-font-4: #aaaaaa;
  --clr-font-5: #8d8d8d;
  --clr-primary:#FBC390;
  --clr-secondary:#1d1d1d;
  --clr-nutral: #282c35;
}
.light-theme {
  --clr-bcg:#EFF0F2;
  --clr-font-1: #282c35;
  --clr-font-2: #3f434b;
  --clr-font-3: #575a61;
  --clr-font-4: #6f7278;
  --clr-font-5: #87898e;
  --clr-primary:#E7D6CF;
  --clr-secondary:#E7D6CF;
  --clr-nutral: #282c35;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
img{
  max-width: 100%;
}  

.container{
  width: 95%;
  max-width: 985px;
  margin: 0 auto;
}  
.nav-container{
  width: 100%;
}  
.upperCase{
  text-transform: uppercase;
}

/********
  LOADING
********/

.center{
  text-align: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center{
  text-align: center;
}

.ring{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  25%{
    transform: rotate(90deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  75%{
    transform: rotate(270deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
}
.ring::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(51, 51, 51);
}

/********
  NAVBAR
********/  


.nav{
  /* border:1px solid darkmagenta; */
  padding: 1.4em 0;
  /* border-bottom: 2px solid rgb(43, 43, 43); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo p{
  font-family: 'Anton', sans-serif;
  color: var(--clr-font);
  font-size: 2rem;
  cursor: pointer;
}
.links{
  display: flex;
  gap: 1rem;
}
.links li{
  padding: .2em .8em .3em;
  border-radius: 8px;
  background-color: var(--clr-primary);
}
.links li a{
  font-size: .8rem;
  color: var(--clr-nutral);
}
.search-container{
  display: none;
}
.active{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn{
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  padding-right: 1rem;
  cursor: pointer;
  color: var(--clr-font-1);
  transition: .2s linear;
}

.search-input input{
  width: 14rem;
  height: 2rem;
  height: 2.6rem;
  padding: 0 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  /* display: none; */
}
.search-input input:focus{
  outline: 1px solid #444;
}
@media (max-width:50em){
  .links li{
    display: none;
  }
}

/********
  HOME PAGE
********/

.main{
  margin-top: 3rem;
}
.page-title{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.movie-list{
  padding-top: 3em;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 145px));
  /* grid-template-rows: repeat(auto-fill, minmax(150px)); */
  gap: 1em;
  justify-content: center;
  text-align: center;
}
.movie-list-single{
  display: flex;
  flex-direction: column;
  gap: .2em;
  /* border: 1px solid blue; */
}
.poster{
  /* flex-basis: 215px; */
  flex-basis: auto;
  /* width: 150px; */
  /* height: 240px; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bcg); /*change according to theme*/
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.288);
}
.poster img{
  object-fit: fill;
}

.movie-title{
  font-size: .8rem;
  font-weight: 600;
  color: var(--clr-font-1);
}
.movie-title:hover{
  color: var(--clr-font-2);
}
.movie-releaseDate{
  font-size: .7rem;
  color: var(--clr-font-3);
}

/*********
SINGLE MOVIE
*********/

.single-movie-page{
  margin-top: 1rem;
  padding: 1em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  background-color: var(--clr-secondary);
}
.single-movie-img{
  margin: 1em 0;
  width: 90%;
  max-width: 220px;
  border-radius: 12px;
  overflow: hidden;
}
.single-movie-img img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  /* border: 1px solid purple; */
  /* width: 70%; */
  width: 100%;
  text-align: left;
}
.single-movie-title{
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-font-1);
}
.single-movie-releaseDate{
  font-size: .9rem;
  color: var(--clr-font-3);
}
.single-movie-runtime{
  font-size: .9rem;
  color: var(--clr-font-3);
}
.heading-info{
  display: flex;
  gap: .6em;
}
.single-movie-tagline{
  color: var(--clr-font-2);
}
.single-movie-summary{
  color: var(--clr-font-2);
}