:root{
  /*ORIGINAL*/
  /* --clr-bcg:#161622;
  --clr-bcg:#EFF0F2;
  --clr-primary:#FBC390;
  --clr-primary:#FBC390;
  --clr-secondary:#E7D6CF;
  --clr-secondary:#E7D6CF;
  --clr-tertiary:#c5f1fe;
  --clr-tertiary:#c5f1fe; */
  /*COPY*/
  --clr-tertiary:#c5f1fe;
  --clr-tertiary:#c5f1fe;
  
  --color1:#cccccc;
  --f-Anton: 'Anton', sans-serif;
  --f-o-sans: 'Open Sans', sans-serif;
  --f-poppins: 'Poppins', sans-serif;
  --f-roboto: 'Roboto', sans-serif;
  --f-montserrat: 'Montserrat', sans-serif;
}
.dark-theme {
  /* --clr-bcg:#161622; */
  --clr-bcg:#111111;
  --clr-font-1: #ffffff;
  --clr-font-2: #e2e2e2;
  --clr-font-3: #c6c6c6;
  --clr-font-4: #aaaaaa;
  --clr-font-5: #8d8d8d;
  --clr-primary:#FBC390;
  --clr-secondary:#1c1c1e;
  --clr-nutral: #282c35;
  /*container*/
  --clr-container:linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
  --box-shadow-container:0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.light-theme {
  --clr-bcg:#f1f1f1;
  --clr-font-1: #282c35;
  --clr-font-2: #3f434b;
  --clr-font-3: #575a61;
  --clr-font-4: #6f7278;
  --clr-font-5: #87898e;
  --clr-primary:#E7D6CF;
  --clr-secondary:#d1d1d1;
  --clr-nutral: #282c35;
  /*container*/
  --clr-container:linear-gradient(0deg, rgba(103, 80, 164, 0.12), rgba(103, 80, 164, 0.12)), #FFFBFE;
  --box-shadow-container: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
img{
  max-width: 100%;
}  

.container{
  width: 90%;
  max-width: 985px;
  margin: 0 auto;
}  
.nav-container{
  width: 100%;
}  
.upperCase{
  text-transform: uppercase;
}

/********
  NAVBAR
********/  


.nav{
  /* border:1px solid darkmagenta; */
  padding: 1.4em 0;
  /* border-bottom: 2px solid rgb(43, 43, 43); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo p{
  font-family: 'Anton', sans-serif;
  color: var(--clr-font);
  font-size: 2rem;
  cursor: pointer;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links{
  display: flex;
  gap: 1rem;
}
.links li{
  padding: .2em .8em .3em;
  border-radius: 8px;
  /* background-color: var(--clr-primary); */
}
.links li a{
  font-size: 1rem;
  color: var(--clr-font);
}
.search-container{
  display: none;
}
.active{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn{
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  color: var(--clr-font-1);
}
.theme-toggle-btn{
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  color: var(--clr-font-1);

}
.search-input input{
  transition: .2s linear;
  width: 14rem;
  height: 2rem;
  height: 2.6rem;
  padding: 0 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  /* display: none; */
}
.search-input input:focus{
  outline: 1px solid #444;
}
@media (max-width:50em){
  .links li{
    display: none;
  }
}

/********
  HOME PAGE
********/

.main{
  margin-top: 3rem;
}
.page-title{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.movie-list{
  padding-top: 3em;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 145px));
  /* grid-template-rows: repeat(auto-fill, minmax(150px)); */
  gap: 1em;
  justify-content: center;
  text-align: center;
}
.movie-list-single{
  display: flex;
  flex-direction: column;
  gap: .2em;
  /* border: 1px solid blue; */
}
.poster{
  /* flex-basis: 215px; */
  flex-basis: auto;
  /* width: 150px; */
  /* height: 240px; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bcg); /*change according to theme*/
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.288);
}
.poster img{
  object-fit: fill;
}

.movie-title{
  font-size: .8rem;
  font-weight: 600;
  color: var(--clr-font-1);
}
.movie-title:hover{
  color: var(--clr-font-2);
}
.movie-releaseDate{
  font-size: .7rem;
  color: var(--clr-font-3);
}

/*********
SINGLE MOVIE
*********/

.single-movie-page{
  padding: .6em;
  border-radius: 8px;
  background: var(--clr-container);
  box-shadow: var(--box-shadow-container);
}
.heading{
  padding: 1em;
  text-align: center;
}
.single-movie-title{
  font-family: var(--f-montserrat);
  font-size: 1.2rem;
  font-weight: 600;
}
.single-movie-date-time{
  font-size: .8rem;
  color: var(--clr-font-3);
}
.single-movie-img{
  width: 90%;
  max-width: 220px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}
.single-movie-img img{
  display: flex;
}
.summary{
  padding: 1em;
}
.single-movie-tagline{
  font-size: .9rem;
}
.single-movie-summary{
  font-size: .9rem;
}
.flex{
  display: flex;
  flex-direction: column;
}
.single-movie-more-info p{
  font-size: .8rem;
  padding-bottom: 1em;
}
.single-movie-more-info{
  margin: 1em;
    background-color: var(--clr-secondary);
    padding: 1em;
    border-radius: 6px;
  }
@media(min-width:668px){
  .heading{
    padding: 1.6em 0 1em 0;
  }
  .flex{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 2em; */
    padding: .8em;
  }
  .single-movie-img{
    width: 35%;
  }
  .summary{
    width: 55%;
    padding: 0;
  }
  
}
/* 
.single-movie-page{
  margin-top: 1rem;
  padding: 1em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--clr-container);
  box-shadow: var(--box-shadow-container);
}
.single-movie-img{
  margin: 1em 0;
  width: 90%;
  max-width: 220px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow-container);
}
.single-movie-img img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  width: 100%;
  text-align: left;
}
.single-movie-title{
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-font-1);
}
.single-movie-releaseDate{
  font-size: .9rem;
  color: var(--clr-font-3);
}
.single-movie-runtime{
  font-size: .9rem;
  color: var(--clr-font-3);
}
.single-movie-tagline{
  color: var(--clr-font-2);
}
.single-movie-summary{
  color: var(--clr-font-2);
} */