:root{
  --color1:#cccccc;
  --loading-color: rgb(150, 0, 130);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
img{
  max-width: 100%;
}  

.container{
  width: 95%;
  max-width: 985px;
  margin: 0 auto;
}  
.upperCase{
  text-transform: uppercase;
}

/********
  LOADING
********/

.center{
  text-align: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ring{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  25%{
    transform: rotate(90deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  75%{
    transform: rotate(270deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 4px 2px var(--loading-color);
  }
}
.ring::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(51, 51, 51);
}

/********
  NAVBAR
********/  


.nav{
  /* border:1px solid darkmagenta; */
  padding-top: 1.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo p{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  cursor: pointer;
}
.links{
  display: flex;
  gap: 1rem;
}
.links li{
  font-size: .8rem;
  padding: .2em .8em;
  border-radius: 8px;
  background-color: var(--color1);
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input input{
  width: 14rem;
  height: 2rem;
  height: 2.6rem;
  padding: 0 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  /* display: none; */
}
@media (min-width:50em){
  .search-input input{
    display: block;
  }
}

/********
  HOME PAGE
********/

.main{
  margin-top: 3rem;
}
.page-title{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.movie-list{
  padding-top: 3em;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2em;
  text-align: center;
}

.poster{
  width: 150;
  height: 240px;
  overflow: hidden;
  /* border: 2px solid blue; */
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-title{
  font-size: 1rem;
  font-weight: 600;
}
.movie-title:hover{
  color: rgb(36, 36, 36);
}
.movie-releaseDate{
  font-size: .8rem;
  color: #444444;
}



.single-movie-page{
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}
.single-movie-img{
  width: 255px;
  border-radius: 12px;
  overflow: hidden;
}
.single-movie-img img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-movie-info{
  width: 70%;
}
.single-movie-title{
  font-size: 2rem;
  font-weight: 500;
}
.single-movie-tagline{
  color: #444444;
}
.single-movie-popularity{
  margin-top: 1em;
  font-size: .9rem;
}
.single-movie-runtime{
  font-size: .9rem;
}
.single-movie-summary{
  color: #222222;
}