@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(218,212,236);
  background: linear-gradient(45deg, rgba(218,212,236,1) 0%, rgba(243,231,233,1) 100%);
  /* color: white; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
